html {
  height: 100%;
}

body {
    background-color: black;
    color:#ffffff;
    height: 100%;
    margin: 0;
  }

img {
    width: 60%;
    height: auto;
}


.full-width-height {
  /*margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  height: 100%;
  background: black;*/
  position: absolute;
  top: 0px;
  left: 0px;
}

